nmap
wireless-tools
ros-noetic-realsense2-camera
ros-noetic-joy
ros-noetic-teleop-twist-joy
ros-noetic-teleop-twist-keyboard
ros-noetic-amcl
ros-noetic-map-server
ros-noetic-move-base
ros-noetic-urdf
ros-noetic-xacro
ros-noetic-rqt-image-view
ros-noetic-navigation
ros-noetic-joint-state-publisher
ros-noetic-robot-state-publisher
ros-noetic-dwa-local-planner
ros-noetic-joint-state-publisher-gui
ros-noetic-rosserial-python
ros-noetic-robot-upstart
ros-noetic-rtabmap-odom
ros-noetic-robot-localization
ros-noetic-pointcloud-to-laserscan